<?xml version="1.0" encoding="UTF-8"?>
<settings xmlns="http://maven.apache.org/SETTINGS/1.0.0"
          xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
          xsi:schemaLocation="http://maven.apache.org/SETTINGS/1.0.0 http://maven.apache.org/xsd/settings-1.0.0.xsd">
    <localRepository>~/.m2/repository</localRepository>

    <servers>
        <!-- for lodsve maven repository -->
        <server>
            <id>third-repository</id>
            <username>${env.LODSVE_REPO_DEPLOY_USERNAME}</username>
            <password>${env.LODSVE_REPO_DEPLOY_PASSWORD}</password>
        </server>

        <!-- 本地镜像仓库的认证 -->
        <server>
            <id>mirror-all</id>
            <username>${env.LODSVE_REPO_READONLY_USERNAME}</username>
            <password>${env.LODSVE_REPO_READONLY_PASSWORD}</password>
        </server>
    </servers>

    <mirrors>
        <mirror>
            <id>mirror-all</id>
            <mirrorOf>*</mirrorOf>
            <name>mirror</name>
            <url>${env.LODSVE_REPO_PREFIX}/repository/maven-public/</url>
        </mirror>
    </mirrors>

    <profiles>
        <profile>
            <id>release-third</id>
            <properties>
                <third.snapshots.repository.url>${env.LODSVE_REPO_PREFIX}/repository/lodsve-snapshot/
                </third.snapshots.repository.url>
                <third.releases.repository.url>${env.LODSVE_REPO_PREFIX}/repository/lodsve-release/
                </third.releases.repository.url>
            </properties>
        </profile>
    </profiles>

    <activeProfiles>
    </activeProfiles>
</settings>
