name: Github Action Maven Verify
on:
  push:
    branches:
      - master
  pull_request:
    branches:
      - master

jobs:
  maven-verify:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@master
      - name: Setup JDK1.8
        uses: actions/setup-java@v1
        with:
          java-version: 1.8
      - name: Run Maven Package
        run: mvn clean package
