name: Github Action Maven Verify
on:
  workflow_dispatch:
  push:
    branches:
      - master
    paths:
      - "**/*.java"
      - "**/*.xml"
      - "**/pom.xml"
      - "**/additional-spring-configuration-metadata.json"
      - "**/spring.factories"
      - ".github/workflows/*.xml"
  pull_request:
    branches:
      - master
    paths:
      - "**./*.java"
      - "**./*.xml"
      - "**/pom.xml"
      - "**/additional-spring-configuration-metadata.json"
      - "**/spring.factories"

jobs:
  maven-verify:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v4
      - name: Setup JDK17
        uses: actions/setup-java@v4
        with:
          distribution: 'adopt-hotspot'
          java-version: 17
          cache: 'maven'
      - name: Run Maven Install
        run: ./mvnw clean install -Dlodsve.nexus.url=${{ secrets.LODSVE_NEXUS_URL }}
